<h1>Listing Articles</h1>
<h2>
  <%= link_to 'New Post', new_article_path %>
</h2>
<% @article.each do |article| %>
<p>
    <%= article.text %>
    <%= article.title %>
    <%= link_to 'Show', article_path(article) %>
    <%= link_to 'Edit', edit_article_path(article) %>
    <%= link_to 'Delete', article_path(article),
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
</p>
<% end %>